.venv/
.pytest_cache/
data/Processed/
data/processed_spd_test/
data/raw/
data/processed/
data/scaling/
data/scaling_prepared/
data/.DS_Store
/models/
models_spd_test*/
src/data/__pycache__/
src/experiments/__pycache__/
src/models/__pycache__/